@CHARSET "ISO-8859-1";

body{
	width:100%;
	margin: 1% 0 0 0;
}
img{
	
}
#logo{
	width: 420px;
	margin:0 auto;
}
#todo{
	width: 780px;
	margin:0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #313246;
}
#todo2{
	width: 412px;
	margin:0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #313246;
}
h1{
	color: #313246;
	text-align: center;
}
h2{
	text-align: center;
}

h5 > a{
	text-align: center;
	color: white;
}
h5{
	text-align: center;
	color: white;
}
/* LINKS */
#link1{
    font-size: 25px;
    margin-left: 3px;
}
#form2\3a link2{
	font-size: 25px;
    margin-left: 300px;
}
#form2\3a link3{
    font-size: 25px;
    margin-left: 705px;
}
#form2\3a link4{
    font-size: 25px;
    margin-left: 615px;
}
#form2\3a link5{
    font-size: 25px;
    margin-left: 30px;
}
#form2{
	margin-top: 27px;
    margin-bottom: 10px;
}
/*      */
#j_idt8\3a j_idt24{
	margin-left: 380px;
}
#j_idt4{
	width: 383px;
    height: 125px;
    margin: 0 auto;
    padding: 6px;
}
#j_idt6\3a j_idt7 {
    margin: 0 auto;
}
#formCadastro > table > tbody > tr:nth-child(3) > td:nth-child(3){
	position: relative; 
	float: left;
	left: -272px;
	
}

/* CAMERA  */
video{
	width: 320px;
height: 240px;
position: relative;
float: left;
margin-top: 42px;
    

}
#formCadastro\:camera{
	height: 320px !important;
}

#rodape{
	width:760px;
	height: 83px;
	margin: 0 auto;
}